h1, img, p {
    margin-left: 300px;
}
p, img {
    margin-top:50px;
}
body{
    background-image:url("../images/tex2res5.png");
    background-repeat:no-repeat;
    background-size: 100%;
}
h1 {
    background: #4aaaa5;
    text-align:center;
    width: 17%;
    color: white;
    font-size: 40px;
}

header {
    background: orange;
    height:50px;
    padding-top:50px;
    overflow: auto;
}
ul {
    margin-left: 1350px;
}
li {
    display: inline-block;
    padding: 10px;
}
/* About CSS */
h2{
    margin-left:20%;
    font-size:25px;
    margin-top:20px;
}
p{
    width: 50%;
    font-size: 25px;
    font-family:sans-serif;
    border:solid 1px;
    background:#eee;
    color: #333;
}
img{
    float:left;
    height: 400px;
    width: 400px;
}
/* Portfolio CSS */
.Img1 {
    position: relative;
}
.text-block {
    position: absolute;
    background-color: black;
    color: white;
}
.container {
    border: solid green;
    position: relative;
}
h4{
    background:orange;
    position: absolute;
}
/* Contact CSS */
form{
    margin-top:50px;
    text-align:center;
    box-sizing: border-box;
    margin-left:33%;
    width: 33%;
    height: 400px;
    border: solid gray 1px;
    background: #eee;
}
input, textarea{
    width:75%;
    background:#FFE2E2;
}
button{
    width: 75px;
    
}
textarea{
    float:center;
    height: 200px;
}
h3{
    text-align:left;
    font-size:25px;
    margin-bottom:30px;
    border-bottom:solid gray 1px;
}