/* Strings */
h1, #Me, .container {
    margin-left: 400px;
}
header, h5, input, textarea{
    background: #ffe2e2
}
h2, p, .container, form{
    background: #eee;
}
header, h2{
    height: 50px;
}
h3, p{
    font-size:25px;
}
#Me, .Photo{
    height: 400px;
    width: 400px;
}
#Island, #Sunset, #Space, #Pikachu, #Angry{
    
    height: 400px;
    margin-top:5px;
    width: 400px;
}
/* Repeated in each html */
body{
    background-image:url("../images/pink\ dust.png");
    background-repeat:no-repeat;
    background-size: 100%;
}
h1{
    background: deeppink;
    font-size:40px;
    margin-top:-67px;
    width:325px;
}

header {
    overflow: auto;
    padding-top:50px;
}
ul {
    margin-left: 1350px;
}
li {
    display: inline-block;
    padding: 10px;
}
/* About CSS */
h2{
    font-size:35px;
    margin:50px 350px -45px 400px;
    padding:10px;
    width:50%;
}
p{
    color: #333;
    font-family:sans-serif;
    margin: 26px 100px 0 400px;
    padding: 10px;
    width: 50%;
}
#Me{
    float:left;
    margin-top:50px;
    padding: 5px;
}
/* Portfolio CSS */
.container{
    border:solid gray 2px;
    box-sizing:border-box;
    height:1250px;
    margin-top:10px;
    padding-left:10px;
    width:850px;
}
h5{
    bottom:10px;
    color: deeppink;
    padding: 10px 0;
    position:absolute;
    text-align: center;
    width: 100%;
}
.Photo{
    float:left;
    margin: 5px;
    position:relative;
}
/* Contact CSS */
form{
    border: solid gray 1px;
    box-sizing: border-box;
    height: 450px;
    margin-top:55px;
    margin-left:33%;
    text-align:center;
    width: 33%;
    
}
input, textarea{
    width:75%;
}
button{
    width: 75px;
    
}
textarea{
    float:center;
    height: 200px;
}
h3{
    border-bottom:solid gray 1px;
    margin-bottom:15px;
    text-align:left;
}
h6{
    font-size:15px;
    margin: 10px 350px 10px 0;
}